In [3]:
# reading the DOH_Violations Dataset
dataset = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results _1_.csv")

In [4]:
dataset.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [5]:
dataset.rename(columns={'CUISINE DESCRIPTION': 'CUISINE_DESCRIPTION'}, inplace=True)

In [6]:
dataset.CUISINE_DESCRIPTION.value_counts()

American                                                            83288
Chinese                                                             42009
Café/Coffee/Tea                                                     19219
Pizza                                                               17462
Latin (Cuban, Dominican, Puerto Rican, South & Central American)    17285
                                                                    ...
Soups                                                                  56
Czech                                                                  41
Nuts/Confectionary                                                     36
Chilean                                                                29
Basque                                                                  7
Name: CUISINE_DESCRIPTION, Length: 84, dtype: int64

In [7]:
dataset.BORO.value_counts()

Manhattan        155811
Brooklyn         100892
Queens            90683
Bronx             35880
Staten Island     13143
0                   112
Name: BORO, dtype: int64

In [8]:
dataset = dataset[dataset.BORO !='0']

In [9]:
dataset = dataset[np.isfinite(dataset['SCORE'])]
#dropping citations in d/b that did not include score

In [10]:
dataset.BORO.value_counts()

Manhattan        148977
Brooklyn          95992
Queens            87014
Bronx             34656
Staten Island     12596
Name: BORO, dtype: int64

In [11]:
dataset['BORO'].value_counts()

Manhattan        148977
Brooklyn          95992
Queens            87014
Bronx             34656
Staten Island     12596
Name: BORO, dtype: int64

In [12]:
dataset['BORO'].value_counts()

Manhattan        148977
Brooklyn          95992
Queens            87014
Bronx             34656
Staten Island     12596
Name: BORO, dtype: int64

In [13]:
dataset.drop(['CAMIS', 'DBA', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE','INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'], axis=1, inplace=True)

In [14]:
dataset.shape

(379235, 3)

In [15]:
dataset

            BORO             CUISINE_DESCRIPTION  SCORE
0       Brooklyn                        Japanese   24.0
1       Brooklyn                        American   21.0
2       Brooklyn   Vietnamese/Cambodian/Malaysia    9.0
3       Brooklyn                          Indian   24.0
4          Bronx                         African   13.0
...          ...                             ...    ...
396516    Queens                         Seafood   20.0
396517  Brooklyn  Juice, Smoothies, Fruit Salads   25.0
396518  Brooklyn                   Pizza/Italian   10.0
396519     Bronx                         Chinese    4.0
396520     Bronx                       Caribbean   33.0

[379235 rows x 3 columns]

In [16]:
X = dataset.iloc[:,:-1] #BORO and CUISINE to X / independent vars

In [17]:
y = dataset.iloc[:, 2] #SCORE to Y / dependent var, the iloc syntax applies the principles to avoid "dummy var trap"

In [18]:
boros=pd.get_dummies(X['BORO'],drop_first=True)

In [19]:
cuisines=pd.get_dummies(X['CUISINE_DESCRIPTION'],drop_first=True)

In [20]:
X=X.drop('BORO',axis=1)

In [21]:
X=X.drop('CUISINE_DESCRIPTION',axis=1)

In [22]:
X=pd.concat([X,boros],axis=1)

In [23]:
X=pd.concat([X,cuisines],axis=1) # completed combining dummy vars to DF

In [25]:
X

,Brooklyn,Manhattan,Queens,Staten Island,African,American,Armenian,Asian,Australian,Bagels/Pretzels,...,Soups & Sandwiches,Southwestern,Spanish,Steak,Tapas,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396516,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396517,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396518,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y

0         24.0
1         21.0
2          9.0
3         24.0
4         13.0
          ...
396516    20.0
396517    25.0
396518    10.0
396519     4.0
396520    33.0
Name: SCORE, Length: 379235, dtype: float64

In [ ]:
LinearRegression

In [ ]:
X

In [ ]:
y

In [ ]:
model.fit(X,y)

In [ ]:
LinearRegression.fit(X,y)

In [ ]:
y

In [27]:
X.shape

(379331, 88)

In [25]:
y.shape

(379331,)

In [31]:
X=cuisines

In [33]:
cuisines.shape

(379331, 83)

In [34]:
X=pd.concat([X,boros],axis=1)

In [28]:
X.shape

(379235, 87)

In [29]:
y.shape

(379235,)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model = LinearRegression()

In [32]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
X=boros

In [35]:
X

        Brooklyn  Manhattan  Queens  Staten Island
0              1          0       0              0
1              1          0       0              0
2              1          0       0              0
3              1          0       0              0
4              0          0       0              0
...          ...        ...     ...            ...
396516         0          0       1              0
396517         1          0       0              0
396518         1          0       0              0
396519         0          0       0              0
396520         0          0       0              0

[379235 rows x 4 columns]

In [53]:
dataset2 = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results _1_.csv")

In [56]:
dataset2.drop(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
        'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'], axis=1, inplace=True)

In [57]:
dataset2

                   CUISINE DESCRIPTION
0                             Japanese
1                             American
2        Vietnamese/Cambodian/Malaysia
3                               Indian
4                              African
...                                ...
396516                         Seafood
396517  Juice, Smoothies, Fruit Salads
396518                   Pizza/Italian
396519                         Chinese
396520                       Caribbean

[396521 rows x 1 columns]

In [62]:
dataset2.rename(columns={'CUISINE DESCRIPTION': 'CUISINE_DESCRIPTION'}, inplace=True)

In [65]:
dataset2=pd.get_dummies(dataset2['CUISINE_DESCRIPTION'],drop_first=True)

In [67]:
dataset2

,African,American,Armenian,Asian,Australian,Bagels/Pretzels,Bakery,Bangladeshi,Barbecue,Basque,...,Soups & Sandwiches,Southwestern,Spanish,Steak,Tapas,Tex-Mex,Thai,Turkish,Vegetarian,Vietnamese/Cambodian/Malaysia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
X

        Brooklyn  Manhattan  Queens  Staten Island
0              1          0       0              0
1              1          0       0              0
2              1          0       0              0
3              1          0       0              0
4              0          0       0              0
...          ...        ...     ...            ...
396516         0          0       1              0
396517         1          0       0              0
396518         1          0       0              0
396519         0          0       0              0
396520         0          0       0              0

[379235 rows x 4 columns]

In [69]:
y

0         24.0
1         21.0
2          9.0
3         24.0
4         13.0
          ...
396516    20.0
396517    25.0
396518    10.0
396519     4.0
396520    33.0
Name: SCORE, Length: 379235, dtype: float64

In [71]:
model.predict([1,0,0,0])
              # avg cuisine type is American, Chinese, Cafe, Pizza, and Mexican
    # first thing to predict what the score of the avg

ValueError: Expected 2D array, got 1D array instead:
array=[1 0 0 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.