In [2]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.23.2-cp37-cp37m-macosx_10_9_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 4.8 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Requirement already satisfied: scipy>=0.19.1 in ./opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.5.2)
Collecting joblib>=0.11
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 6.6 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in ./opt/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.19.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=a83445cb1db07aa1147a294b01c34a14e1a69c91c0b2d68e8f6c7cfa1d7b8268
  Stored in directory: /Users/jenarriaza/Library/Caches/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-0.17.0 scikit-learn-0.23.2 sklearn-0.0 threadpoolctl-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.0-py3-none-any.whl (283 kB)
     |████████████████████████████████| 283 kB 2.2 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.19.2)
Requirement already satisfied: pandas>=0.23 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.1.3)
Requirement already satisfied: matplotlib>=2.2 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (3.3.2)
Requirement already satisfied: scipy>=1.0 in ./opt/anaconda3/lib/python3.7/site-packages (from seaborn) (1.5.2)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (7.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# special matplotlib argument for improved plots
from matplotlib import rcParams
rcParams['figure.dpi']= 100
sns.set_style("whitegrid")
sns.set_context("poster")

In [4]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 2.7 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
# special matplotlib argument for improved plots
from matplotlib import rcParams
rcParams['figure.dpi']= 100
sns.set_style("whitegrid")
sns.set_context("poster")

In [9]:
import os
cwd = os.getcwd()

In [10]:
os. getcwd()

'/Users/jenarriaza'

In [14]:
df = pd.read_csv("NYC.gov_Web_Analytics.csv")

In [15]:
df.shape

(32016, 6)

In [16]:
df.describe

<bound method NDFrame.describe of       Time Period                                               Page  \
0          Jul-15                                                NaN
1          Jul-15                               http://www1.nyc.gov/
2          Jul-15  http://www1.nyc.gov/site/finance/pay-now/onlin...
3          Jul-15  http://www1.nyc.gov/assets/finance/jump/pay_pa...
4          Jul-15   http://www.nyc.gov/html/dob/html/home/home.shtml
...           ...                                                ...
32011      Oct-16  http://www1.nyc.gov/events/free-electronics-re...
32012      Oct-16  http://www1.nyc.gov/office-of-the-mayor/news/1...
32013      Oct-16  http://www1.nyc.gov/site/dsny/about/news/pr201...
32014      Oct-16  http://www1.nyc.gov/assets/hhsconnect/download...
32015      Oct-16                     http://www1.nyc.gov/EPLEAD.HTM

                                                   Title    Visits     Views  \
0                                                    NaN       NaN  23123911
1                  Welcome to NYC.gov | City of New York  551941.0    715124
2                                         Pay Online Now  470528.0    903463
3               Pay Parking and Camera Violations Online  361846.0    548096
4                                Department of Buildings  321598.0    589963
...                                                  ...       ...       ...
32011                                                NaN       5.0         5
32012  NYC Children's Cabinet Continues "Talk To Your...       5.0         5
32013                                                NaN       5.0         5
32014                                                NYC       5.0         7
32015                                                NYC       5.0         5

       Average Time Viewed (seconds)
0                              96.50
1                              68.02
2                              41.90
3                             313.00
4                             193.77
...                              ...
32011                            NaN
32012                          15.00
32013                           4.00
32014                          66.25
32015                          21.00

[32016 rows x 6 columns]>

In [17]:
print(df.isnull().sum())

Time Period                         0
Page                               98
Title                            1437
Visits                             16
Views                               0
Average Time Viewed (seconds)     963
dtype: int64

In [18]:
missing_values=df.isnull().sum()

In [19]:
print(missing_values)

Time Period                         0
Page                               98
Title                            1437
Visits                             16
Views                               0
Average Time Viewed (seconds)     963
dtype: int64

In [20]:
df.head

<bound method NDFrame.head of       Time Period                                               Page  \
0          Jul-15                                                NaN
1          Jul-15                               http://www1.nyc.gov/
2          Jul-15  http://www1.nyc.gov/site/finance/pay-now/onlin...
3          Jul-15  http://www1.nyc.gov/assets/finance/jump/pay_pa...
4          Jul-15   http://www.nyc.gov/html/dob/html/home/home.shtml
...           ...                                                ...
32011      Oct-16  http://www1.nyc.gov/events/free-electronics-re...
32012      Oct-16  http://www1.nyc.gov/office-of-the-mayor/news/1...
32013      Oct-16  http://www1.nyc.gov/site/dsny/about/news/pr201...
32014      Oct-16  http://www1.nyc.gov/assets/hhsconnect/download...
32015      Oct-16                     http://www1.nyc.gov/EPLEAD.HTM

                                                   Title    Visits     Views  \
0                                                    NaN       NaN  23123911
1                  Welcome to NYC.gov | City of New York  551941.0    715124
2                                         Pay Online Now  470528.0    903463
3               Pay Parking and Camera Violations Online  361846.0    548096
4                                Department of Buildings  321598.0    589963
...                                                  ...       ...       ...
32011                                                NaN       5.0         5
32012  NYC Children's Cabinet Continues "Talk To Your...       5.0         5
32013                                                NaN       5.0         5
32014                                                NYC       5.0         7
32015                                                NYC       5.0         5

       Average Time Viewed (seconds)
0                              96.50
1                              68.02
2                              41.90
3                             313.00
4                             193.77
...                              ...
32011                            NaN
32012                          15.00
32013                           4.00
32014                          66.25
32015                          21.00

[32016 rows x 6 columns]>

In [21]:
df.tail

<bound method NDFrame.tail of       Time Period                                               Page  \
0          Jul-15                                                NaN
1          Jul-15                               http://www1.nyc.gov/
2          Jul-15  http://www1.nyc.gov/site/finance/pay-now/onlin...
3          Jul-15  http://www1.nyc.gov/assets/finance/jump/pay_pa...
4          Jul-15   http://www.nyc.gov/html/dob/html/home/home.shtml
...           ...                                                ...
32011      Oct-16  http://www1.nyc.gov/events/free-electronics-re...
32012      Oct-16  http://www1.nyc.gov/office-of-the-mayor/news/1...
32013      Oct-16  http://www1.nyc.gov/site/dsny/about/news/pr201...
32014      Oct-16  http://www1.nyc.gov/assets/hhsconnect/download...
32015      Oct-16                     http://www1.nyc.gov/EPLEAD.HTM

                                                   Title    Visits     Views  \
0                                                    NaN       NaN  23123911
1                  Welcome to NYC.gov | City of New York  551941.0    715124
2                                         Pay Online Now  470528.0    903463
3               Pay Parking and Camera Violations Online  361846.0    548096
4                                Department of Buildings  321598.0    589963
...                                                  ...       ...       ...
32011                                                NaN       5.0         5
32012  NYC Children's Cabinet Continues "Talk To Your...       5.0         5
32013                                                NaN       5.0         5
32014                                                NYC       5.0         7
32015                                                NYC       5.0         5

       Average Time Viewed (seconds)
0                              96.50
1                              68.02
2                              41.90
3                             313.00
4                             193.77
...                              ...
32011                            NaN
32012                          15.00
32013                           4.00
32014                          66.25
32015                          21.00

[32016 rows x 6 columns]>

In [23]:
df.drop('Page', axis=1, inplace=True)

In [24]:
pd.set_option('display.max_columns', None)
df.head()

,Time Period,Title,Visits,Views,Average Time Viewed (seconds)
0,Jul-15,NaN,NaN,23123911,96.50
1,Jul-15,Welcome to NYC.gov | City of New York,551941.0,715124,68.02
2,Jul-15,Pay Online Now,470528.0,903463,41.90
3,Jul-15,Pay Parking and Camera Violations Online,361846.0,548096,313.00
4,Jul-15,Department of Buildings,321598.0,589963,193.77

In [25]:
df.tail()

,Time Period,Title,Visits,Views,Average Time Viewed (seconds)
32011,Oct-16,NaN,5.0,5,NaN
32012,Oct-16,"NYC Children's Cabinet Continues ""Talk To Your...",5.0,5,15.00
32013,Oct-16,NaN,5.0,5,4.00
32014,Oct-16,NYC,5.0,7,66.25
32015,Oct-16,NYC,5.0,5,21.00

In [33]:
## create new variable for month, conditional to content of Time_Period variable.
df['month'] = pd.np.where(df.Time_Period.str.contains("Jan"), "Jan",
                   pd.np.where(df.Time_Period.str.contains("Feb"), "Feb",
                   pd.np.where(df.Time_Period.str.contains("Mar"), "Mar",
                   pd.np.where(df.Time_Period.str.contains("Apr"), "Apr",
                   pd.np.where(df.Time_Period.str.contains("May"), "May",
                   pd.np.where(df.Time_Period.str.contains("Jun"), "Jun",
                   pd.np.where(df.Time_Period.str.contains("Jul"), "Jul",
                   pd.np.where(df.Time_Period.str.contains("Aug"), "Aug",
                   pd.np.where(df.Time_Period.str.contains("Sep"), "Sep",
                   pd.np.where(df.Time_Period.str.contains("Oct"), "Oct",
                   pd.np.where(df.Time_Period.str.contains("Nov"), "Nov",
                   pd.np.where(df.Time_Period.str.contains("Dec"), "Dec", " "))))))))))))

In [26]:
df.rename(columns={'Time Period':'Time_Period'},inplace = True)

In [27]:
df.rename(columns={'Average Time Viewed':'Average_Time_Viewed'},inplace = True)

In [35]:
pd.set_option('display.max_columns', None)
df.head()

,Time_Period,Title,Visits,Views,Average Time Viewed (seconds),month
0,Jul-15,NaN,NaN,23123911,96.50,Jul
1,Jul-15,Welcome to NYC.gov | City of New York,551941.0,715124,68.02,Jul
2,Jul-15,Pay Online Now,470528.0,903463,41.90,Jul
3,Jul-15,Pay Parking and Camera Violations Online,361846.0,548096,313.00,Jul
4,Jul-15,Department of Buildings,321598.0,589963,193.77,Jul

In [39]:
pd.set_option('display.max_columns', None)
df.tail()

,Time_Period,Title,Visits,Views,Average Time Viewed (seconds),month
32011,Oct-16,NaN,5.0,5,NaN,Oct
32012,Oct-16,"NYC Children's Cabinet Continues ""Talk To Your...",5.0,5,15.00,Oct
32013,Oct-16,NaN,5.0,5,4.00,Oct
32014,Oct-16,NYC,5.0,7,66.25,Oct
32015,Oct-16,NYC,5.0,5,21.00,Oct

In [40]:
## create new variable for year, conditional to content of Time_Period variable.
df['year'] = pd.np.where(df.Time_Period.str.contains("15"), "2015",
                   pd.np.where(df.Time_Period.str.contains("16"), "2016", " "))

In [41]:
months_in_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [45]:
df.head()

,Time_Period,Title,Visits,Views,Average Time Viewed (seconds),month,year
0,Jul-15,NaN,NaN,23123911,96.50,Jul,2015
1,Jul-15,Welcome to NYC.gov | City of New York,551941.0,715124,68.02,Jul,2015
2,Jul-15,Pay Online Now,470528.0,903463,41.90,Jul,2015
3,Jul-15,Pay Parking and Camera Violations Online,361846.0,548096,313.00,Jul,2015
4,Jul-15,Department of Buildings,321598.0,589963,193.77,Jul,2015

In [49]:
df_views_pivoted = df[df['year']<'2018'].pivot_table(index='month', columns='year', values='Views').reindex(months_in_order)
df_views_pivoted

year           2015          2016
month
Jan             NaN  23423.153923
Feb             NaN  21207.339330
Mar             NaN   2668.202899
Apr             NaN   2482.099950
May             NaN   2530.517241
Jun             NaN   2563.503248
Jul    21951.056472   2353.163918
Aug    20809.102449   2508.392304
Sep    21888.021489   2512.257371
Oct    21764.883058   4205.837581
Nov    19635.715642           NaN
Dec    20550.757621           NaN

In [54]:
df = df.dropna(subset=['Title'])

In [55]:
df.shape

(30579, 7)

In [56]:
df_views_pivoted = df[df['year']<'2018'].pivot_table(index='month', columns='year', values='Views').reindex(months_in_order)
df_views_pivoted

year           2015          2016
month
Jan             NaN  10947.493988
Feb             NaN   9866.133267
Mar             NaN   1432.277868
Apr             NaN   1352.992341
May             NaN   1396.932964
Jun             NaN   1425.917831
Jul    10385.838220   1306.135196
Aug     9783.704317   1381.705980
Sep    10290.136273   1294.131606
Oct    10188.608717   2294.340810
Nov     9183.784068           NaN
Dec     9629.187876           NaN